APP_ENV=mock
OTEL_SERVICE_NAME=demo-k8s-backend
FRONTEND_PORT=8080
BACKEND_PORT=8000
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318
OTEL_HEALTH_PORT=13133
SIGNOZ_QUERY_PORT=8081
SIGNOZ_UI_PORT=3301
VITE_API_URL=http://localhost:8000
SIGNOZ_TAG=0.57.0
SIGNOZ_OTEL_COLLECTOR_TAG=0.102.0
SIGNOZ_FRONTEND_TAG=0.57.0
CLICKHOUSE_TAG=23.8.8-alpine
SIGNOZ_REGION=us-east-1
